---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
---

<Layout title="GirlTalk">
  <h1>GirlTalk</h1>
  <Infographic />
</Layout>
<body></body>
