---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
import Button from "../components/Button.astro";
import SignUp_card from "../components/SignUp_card.astro";
import Book_card from "../components/Book_card.astro";
import SoMeCard1 from "../components/SoMeCard1.astro";
import Wave from "../components/Wave.astro";
import Header from "../components/Header.astro";
const { variant } = Astro.props;
---

<Layout title="GirlTalk">
  <Header />
  <h1>GirlTalk</h1>
  <Infographic />
  <SoMeCard1 />
  <SignUp_card />
  <Book_card />
  <Button class="button" variant="secondary">Knap</Button>
  <Wave />
</Layout>
<body></body>
