---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
import Button from "../components/Button.astro";
import SignUp_card from "../components/SignUp_card.astro";
const { variant } = Astro.props;
---

<Layout title="GirlTalk">
  <h1>GirlTalk</h1>
  <Infographic />
  <SignUp_card />
  <Button class="button" variant="secondary">Knap</Button>
</Layout>
<body></body>
