---
import "../global.css";
import "../style.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
import Button from "../components/Button.astro";
import SignUp_card from "../components/SignUp_card.astro";
import Book_card from "../components/Book_card.astro";
import SoMeCard1 from "../components/SoMeCard1.astro";
import Wave from "../components/Wave.astro";
import Header from "../components/Header.astro";
import Guide_card from "../components/Guide_card.astro";
import GirlSektion from "../components/Girl_sektion.astro";
const { variant } = Astro.props;
---

<Layout title="GirlTalk">
  <Header />
  <div class="content">
    <div class="grid_1_1">
      <div class="overskrift">
        <h1>Selvskade:</h1>
        <h2>Hvordan kan man håndtere det?</h2>
      </div>
    </div>
    <p>
      Det kan være meget svært at rumme smerten og magtesløsheden, hvis man opdager, at ens datter bruger selvskade til at håndtere sine følelser. <br /> Mange forældre reagerer med frygt, forvirring, vrede og sorg, og ofte oplever forældre at blive tynget af selvbebrejdelse og fortvivlelse.
    </p>
    <br />
    <div class="cards">
      <Guide_card />
      <Book_card />
    </div>
    <Wave />
    <div class="girl">
      <GirlSektion />
    </div>
    <Wave />
    <div class="iggrid">
      <div class="iggrid-item">
        <img src="infografik1.png" alt="infografik" />
        <br />
        <h3>HVER FEMTE PIGE</h3>
        <br />
        <p>I Danmark har mere end hver 5. pige skadet sig selv. Mange af dem taler vi med i GirlTalks rådgivning, hvor vores frivillige rådgivere sidder klar til at hjælpe hver aften.</p>
      </div>
      <div class="iggrid-item">
        <img src="infografik2.png" alt="infografik" />
      </div>
    </div>
    <Wave />
    <div class="signupgrid">
      <div class="griditem">
        <SignUp_card class="signupcard" />
      </div>
      <div class="griditem">
        <h3>TAG DEL I VORES SEJRE OG BRUG DIN STEMME MOD MISTRIVSEL!</h3>
        <br />
        <p>Få faglige indsigter om mental sundhed og trivsel, du kan bruge i din egen hverdag. Bliv klogere på vores politiske arbejde for at styrke unges trivsel – og gør din stemme gældende i kampen mod mistrivsel. Glæd dig til særlige tilbud for læsere i webshoppen, positive historier fra frivilligteamet og meget mere!</p>
      </div>
    </div>
  </div>
  <div class="girls">
    <img src="girlstalk2.svg" alt="girls" />
  </div>
</Layout>
