---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
import Button from "../components/Button.astro";
const { variant } = Astro.props;
---

<Layout title="GirlTalk">
  <h1>GirlTalk</h1>
  <Infographic />
  <video id="t9_infographic_1" width="800" height="800" autoplay loop muted playsinline>
    <source src="https://www.mitrimedia.com/kea_2_semester/t9_video/t9_girltalk_infographic-video_1.mp4/" type="video/mp4" />
  </video> Your browser does not support the video tag.
</Layout>
<body></body>
