---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
import Infographic from "../components/Infographic.astro";
import Button from "../components/Button.astro";
import SoMeCard1 from "../components/SoMeCard1.astro";
const { variant } = Astro.props;
---

<Layout title="GirlTalk">
  <h1>GirlTalk</h1>
  <Infographic />
  <SoMeCard1 />
</Layout>
<body></body>
