---
import "../global.css";
import Layout from "../Layouts/Layout.astro";
---

<video id="t9_infographic_1" width="800" height="800" autoplay loop muted playsinline>
  <source src="mitrimedia.com/kea_2_semester/t9_video/t9_girltalk_infographic-video_1.mp4/" type="video/mp4" />
</video> Your browser does not support the video tag.

<video id="MM_kinetic_warp" width="800" height="600" autoplay loop muted playsinline>
  <source src="mm_kinetic_warp/mm_kinetic_warp_1.mp4" type="video/mp4" />
  <a href="projects.html"></a>
  Your browser does not support the video tag.
</video>
