---
import "../global.css";
---

<div id="footer">
  <p id="footer-p">Girltalk DK • Martinsvej 7, 1 • 1926 Frederiksberg C • CVR 30 14 53 48</p>
</div>

<style>
  #footer {
    display: flex;
    margin: auto;
  }

  #footer-p {
    font-size: 15px;
    font-family: "obviously", sans-serif;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--secondary);
  }
</style>

<!-- mangler mobile-responsive & eventuelt baggrundsfarve -->
