---
import "../global.css";
---

<div class="girl_sektion">
  <div class="tekst">
    <h1>Hvad kan du <br class="line_break_mobile" /> gøre <br class="line_break_computer" /> som <br class="line_break_mobile" />forældre?</h1>

    <div class="copy_text">
      <p class="undgå_panik"><b>Undgå panik</b></p>
      <p>Når man opdager, at ens barn skader sig <br class="line_break_computer" /> selv, er det vigtigt at kontrollere sin <br class="line_break_computer" /> forskrækkelse og forholde sig roligt og <br class="line_break_computer" /> omsorgsfuldt. Ofte er selvskade i <br class="line_break_computer" /> forvejen forbundet med skyld og <br class="line_break_computer" /> skam hos den unge, og derfor kan <br class="line_break_computer" /> en dramatisk reaktion fra <br class="line_break_computer" /> omgivelserne forværre de negative <br class="line_break_computer" /> følelser og lukke ned for kommunikationen.</p>

      <p class="vis_hende_andre_veje"><b>Vis hende andre veje</b></p>
      <p>Støt din datter i at finde alternativer til at skade sig selv, når hun bliver overvældet <br id="line_break" class="line_break_computer" /> af svære følelser. Det kan være helt praktiske ting som åndedrætsøvelser, <br id="line_break" class="line_break_computer" /> fysisk aktivitet, at lytte til musik, at skrive dagbog eller at have en liste med personer, <br id="line_break" class="line_break_computer" /> hun kan kontakte, når hun føler trang til at skade sig selv.</p>
    </div>
  </div>
  <div class="dame">
    <video width="500" height="600" autoplay loop muted playsinline>
      <source src="https://www.projectjohansson.dk/kea/host_af_girl_crying/girl_winking.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<style>
  .line_break_mobile {
    display: none;
  }

  .girl_sektion {
    display: flex;
  }

  .tekst {
    position: absolute;
    z-index: 1;
  }

  h1 {
    font-size: 2.5rem;
  }

  .vis_hende_andre_veje {
    margin-top: 5%;
  }

  .copy_text {
    margin-top: 4%;
  }

  .dame {
    position: relative;
    left: 38%;
    padding-bottom: 10%;
  }

  @media screen and (max-width: 850px) {
    video {
      width: 60%;
    }
    .dame {
      left: 55%;
    }

    #line_break {
      display: none;
    }
  }

  @media screen and (max-width: 730px) {
    video {
      width: 50%;
    }
    .dame {
      left: 57%;
    }
  }

  @media screen and (max-width: 600px) {
    .line_break_mobile {
      display: inline;
    }

    .line_break_computer {
      display: none;
    }
    h1 {
      font-size: 2.5rem;
    }
    video {
      width: 90%;
      bottom: 50%;
    }

    .dame {
      position: absolute;
      left: 55%;
      top: 202.5%;
      padding-bottom: 0%;
    }

    .tekst {
      position: relative;
      z-index: 1;
    }
  }
</style>
