---
import "../global.css";
import "../style.css";
---

<div class="header">
  <div class="headerleft">
    <img src="speechbubble.svg" alt="talebobbel" />
    <div class="socials">
      <img src="facebook.svg" alt="facebook" />
      <img src="instagram.svg" alt="instagram" />
      <img src="mail.svg" alt="mail" />
      <img src="messenger.svg" alt="messenger" />
    </div>
  </div>
  <div class="headerright">
    <img src="logogirltalk.png" alt="logo" />
  </div>
</div>

<style>
  .header {
    max-width: 900px;
  }
  .headerleft {
    display: flex;
  }

  img {
    transform: scale(70%);
  }

  .socials {
    display: flex;
    position: absolute;
    right: 3%;
    top: 2%;
  }

  .headerright {
    display: flex;
    position: absolute;
    right: -124px;
    top: 38px;
    transform: scale(70%);
  }

  @media (min-width: 800px) {
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 900px;
      margin: 1rem auto;
    }
    .socials {
      display: flex;
      margin-left: 2rem;
      position: relative;
    }

    .headerright {
      display: flex;
      margin: auto;
      position: relative;
      top: 0px;
    }
  }
</style>
