---
import "../global.css";
import SoMeCard1 from "../img/SoMe-card-1.webp";
---

<section>
  <article title="SoMeCard1" id="SoMeCard1"><img src={SoMeCard1.src} alt="SoMe_card_1" /></article>

  <!-- <Image src={SoMeCard1} alt="SoMeCard1" /> -->
</section>

<style>
  img {
    width: 33%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    border: 1.5px solid var(--secondary);
  }
</style>
