---
import "../global.css";
---

<section>
  <article>
    <img src="/some_card_2.svg" alt="SoMe_card_1" />
  </article>
</section>

<style>
  img {
    width: 33%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 3rem;
  }
</style>
