---
import "../global.css";
---

<div class="wave_1">
  <img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  /><img class="slide" src="/wave_2.svg" alt="" /><img class="slide" src="/wave_2.svg" alt="" /><img
    class="slide"
    src="/wave_2.svg"
    alt=""
  />
</div>

<!-- <article class="wave">
  <div class="wavy"></div>
 
</article> -->

<style>
  .wave_1 {
    white-space: nowrap;
    position: relative;
    right: 800px;
    margin-bottom: 40px;
  }
  .slide {
    display: inline-block;
    animation: scroll-line linear 20s infinite;
    height: 100px;
    margin-left: 0px;
  }

  @keyframes scroll-line {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
