* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
background-color: var(--primary);
overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #f7c7d9;
  --secondary: #273aaa;
  --accent1: #fc4d5c;
  --accent2: #d1ecef;
  --accent3: #1d1d1b;
  --accent4: #fff5eb;
}

p {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "obviously", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary);
}

#t9_infographic_1 {
  width: 33%;
  height: auto;
  z-index: 100;
  display: flex;
  margin: auto;
  border: 1.5px solid var(--secondary);
}
