.content {
  max-width: 1100px;
  margin: 0 auto;
  width: 90vw;
}

.overskrift h2 {
  font-family: "Archivo", sans-serif;
  text-transform: none;
}

.plaster {
  transform: scale(70%);
  margin-top: -2rem;
}

.grid_1_1 {
  display: flex;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.signupgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mordatterflex {
  display: flex;
  transform: scale(80%);
  position: relative;
  right: 8rem;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: block;
  }
}
