.content {
  max-width: 800px;
  margin: 5rem auto 0 auto;
  width: 90vw;
}

.overskrift {
  margin-bottom: 2rem;
}

.overskrift h2 {
  font-family: "Archivo", sans-serif;
  text-transform: none;
}

.plaster {
  transform: scale(70%);
  margin-top: -2rem;
}

.grid_1_1 {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.signupgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 5rem;
}

.iggrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.girls {
  max-width: 900px;
  margin: 0 auto;
}

.girls img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: block;
  }

  .signupgrid {
    display: block;
  }

  .iggrid {
    display: block;
  }
}
